

[Unit]
Description=Shadowsocks Client Start
After=network.target

[Service]
Type=simple
User=bit
ExecStart=/usr/bin/sslocal -c /home/bit/workspace1/github/config/sg.json

[Install]
WantedBy=multi-user.target

